/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --primary-color: #005bb5;
  --dark-blue-color: #1e3a8a;
  --pink-color: #eb4671;
  --green-color: #03ad23;
  --dark-grey-color: #424656;
  --background-color: #f5f7fa;
  --white-color: #ffffff;
  --black-color: #000000;

  /** Valeur Téléphone **/
  --title-size: 1.5rem;
  --subtitle-size: 1.25rem;
  --text-size: 1rem;
  --small-text-size: 0.875rem;
  --very-small-text-size: 0.75rem;

  --bold: bold;
  --semi_bold: 600;
  --normal: normal;

  --raleway: "Raleway", sans-serif;
  --noto: "Noto Sans", sans-serif;

  --page-padding: 1.563rem;
}

body {
  font-family: var(--noto);
  background-color: var(--background-color);
  overflow-x: hidden;
}

h1 {
  font-family: var(--raleway);
  font-size: var(--title-size);
  font-weight: var(--bold);
}

h2 {
  font-family: var(--raleway);
  font-size: var(--title-size);
  font-weight: var(--bold);
}

h3 {
  font-family: var(--raleway);
  font-size: var(--subtitle-size);
  font-weight: var(--semi_bold);
}

p {
  font-family: var(--noto);
  font-size: var(--text-size);
  font-weight: var(--normal);
}

.semi-bold {
  font-family: var(--noto);
  font-size: var(--text-size);
  font-weight: var(--semi_bold);
}

.italic {
  font-family: var(--noto);
  font-size: var(--small-text-size);
  font-weight: var(--normal);
  font-style: italic;
}

.very-small-text {
  font-size: var(--very-small-text-size);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex-row { display: flex; flex-direction: row !important;}
.flex-col { display: flex; flex-direction: column; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.gap-sm { gap: 0.625rem; }
.gap-md { gap: 0.938rem; }
.gap-lg { gap: 1.563rem; }
.full-width { width: 100%; }
.full-height { height: 100%; }
.no-pad-top { padding-top: 0 !important; }
.no-pad-side { padding-left: 0 !important; padding-right: 0 !important; }
.margin-left-md { margin-left:15px ;}
.fit-content { width: fit-content; }

.content {
  padding: 1.25rem;
}

.tags {
  flex-wrap: wrap;
  align-items: center;
}

.rightPart {
  width:100%;
}

.tag {
  justify-content: center;
  padding: 0px 0.5rem;
  background: #005BB5;
  border-radius: 0.313rem;
  color: #ffffff;
}

body {
  background-color: var(--background-color);
  font-family: var(--noto);
}

.chevronLeft {
  width: 2.5rem;
  height: auto;
}

.sectionOffreDetaille {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height:100%;
}

.align {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.313rem;
}

.gap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  margin-top: 0.8rem;
}

.rightPart h1 {
  padding-bottom: 7px;
}

li {
  margin-left:1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.hideTab {
  display: none;
}

.description {
  margin: 0 -1.25rem 0.625rem -1.25rem;
  width: calc(100% + 2.5rem);
  padding: 0.938rem 1.25rem;
  isolation: isolate;
  background-color: #E5EFF6;
}

/** header Format téléphone **/
header .hidden,
.logBtn,
.postOffer {
  display: none;
}

header .top_header {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1.25rem;
  background-color: var(--primary-color);
  align-items: center;
}

header .menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1.875rem;
}

header .sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue-color);
  padding: 1.25rem;
  gap: 1.563rem;
  box-sizing: border-box;
  z-index: 100;
}

header .logo {
  width: 9.625rem;
  height: 2.313rem;
}

header ul {
  list-style: none;
}

header .sidenav a {
  display: flex;
  gap: 0.4rem;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

header hr {
  height: 3px;
  background-color: var(--white-color);
  border: none;
  width: 100%;
}

header nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  gap: 1.563rem;
  padding-bottom: 1.25rem;
}

header h1,
header h2,
header h3 {
  color: var(--white-color);
}

header .action:active {
  transform: scale(0.97);
  box-shadow: inset 0 0 0.625rem rgba(0, 0, 0, 0.2);
}

header .nav-hover:hover {
  text-decoration: underline var(--white-color);
}

header .imgLog {
  width: 2.9rem;
}

header .imgLogOut {
  width: 2.7rem;
}

header .checkBtn {
  width: 1.938rem;
}

footer {
  padding: 1.25rem;
  background-color: var(--dark-grey-color);
  color: var(--white-color);
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.938rem;
}

footer div nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

footer div nav img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

footer div nav p {
  margin-top: 0;
  color: var(--white-color);
}

footer div nav :any-link {
  color: var(--white-color);
}

/* Other */
.flex-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.313rem;
}

/* Carte affichage des offres */
.offer-section {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: var(--page-padding);
  width: 100%;
  height: fit-content;
  gap: 1.25rem;
}

.offer-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.offer-card {
  max-width: 27rem;
  width: 100%;
  padding: 0.938rem;
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
  background-color: var(--white-color);
  border-radius: 0.938rem;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.offer-card-info-layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 0.938rem;
  justify-content: space-between;
}

.offer-card-gap {
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
}

.offer-card .offer-card-img-main {
  width: 100%;
  border-radius: 0.938rem;
  aspect-ratio: 6 / 4;
  object-fit: cover;
}

.offer-card-img {
  position: relative;
  overflow-x: visible;
}

.offer-card-img-badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.625rem;
  position: absolute;
  margin: 0.938rem;
  top: 0;
  left: 0;
  align-items: top;
  justify-content: baseline;
  width: fit-content;
  height: fit-content;
}

.offer-card-img-badge-pink,
.offer-card-img-badge-green {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  gap: 0.313rem;
  border-radius: 100px;
  width: fit-content;
  padding: 0.313rem 0.625rem;
  color: var(--white-color);
  align-items: center;
  justify-content: center;
}

.offer-card-img-badge-pink img,
.offer-card-img-badge-green img {
  width: auto;
  height: 15px;
}

.offer-card-img-badge-pink {
  background-color: var(--pink-color);
}

.offer-card-img-badge-green {
  background-color: var(--green-color);
}

.offer-card-img-category-icon {
  margin: 0.938rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--background-color);
  border-radius: 100%;
  border: 1px solid var(--black-color);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-card-img-category-icon img {
  width: 1.5rem;
  height: auto;
} 

.offer-card-price-note,
.offer-card-city-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.offer-card-city,
.offer-card-note,
.offer-card-price {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.313rem;
}

.offer-card-note-stars,
.offer-card-price-euros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.undoBtn {
  position: absolute;
  left: 30px;
  top: 30px;
}

.connection .logMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.connection .logMember .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 20px;
}

.connection .logMember .logLines {
  gap: 0.625rem;
}

.connection {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
  padding: 6.25rem;
}

.connection p {
  width: max-content;
}

.connection hr {
  width: 100%;
  border: 0.063rem solid #424656;
}

.connection a {
  text-decoration:underline;
}

.connection .logPro {
  display: none; 
}

.connection input {
  border: 0.063rem solid #637381;
  padding: 0 0.625rem 0 2.25rem;
  margin: 0.313rem 0 0.313rem 0;
  border-radius: 0.375rem;
  height: 2.813rem;
}

.connection button {
  border: 0.125rem solid #000;
  width: fit-content;
  height: 3.375rem;
  border-radius: 1.875rem;
  background-color: var(--white-color);
  padding: 0.438rem 0.938rem 0.438rem 0.938rem;
  color: #000;
}

.connection .logLines {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.625rem 0 0.625rem ;
}

.connection a {
  color: #000;
}

.connection .formBtnEmail {
  background: url("/assets/icons/login_black.svg") no-repeat 0.5rem center;
  background-size: 1.25rem;
  font-size: var(--text-size);
}

.connection .formBtnPassword {
  background: url("/assets/icons/shield_black.svg") no-repeat 0.5rem center;
  background-size: 1.25rem;
}

.connection-page header,
.right-img,
.title-connexion {
  display: none;
}

.connection input:focus {
  outline-color: var(--primary-color);
}

.connection button:active {
  background-color: #444444;
  color: #000;
}

.connection .error {
  color: var(--pink-color);
}

.logMenu {
  position: absolute;
  top: 4.4rem;
  right: 0.625rem;
  background: white;
  border: 0.063rem solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.625rem;
}

.logMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logMenu ul li {
  margin: 0.5rem 0;
}

.logMenu ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.inscription header {
  display: none;
}

input, label, ul {
  font-family: var(--noto)
}

input {
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0.625rem 0.3125rem;
}

#photo {
  height: 6rem;
}

#signup_button {
  border-radius: 1.875rem;
  border-color: black;
  border-width: 0.125rem;
  background-color: white;
  height: 3.375rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

#signup_button:hover {
  border-color: white;
  background-color: black;
  color: white;
}


h4 {
  font-family: var(--noto);
  font-size: var(--text-size);
}

li {
  font-family: var(--noto);
  font-size: var(--small-text-size);
}

.error-msg {
  color: red;
  font-size: var(--small-text-size);
  font-family: var(--noto);
}

/* Format tablette */
@media (min-width: 35rem) {
  :root {
    --title-size: 1.875rem;
    --subtitle-size: 1.563rem;
    --text-size: 1.25rem;
    --small-text-size: 1.094rem;
    --very-small-text-size: 0.75rem;

    --page-padding: 2.188rem;
  }

  #transition_bar {
    width: 50%;
    color: black;
    background-color: black;
  }

  #transition_bar {
    width: 50%;
    color: black;
    background-color: black;
  }

  header .btnBurger {
    display: none;
  }

  header .logBtn,
  header .postOffer {
    display: block;
  }

  header .top_header {
    padding: 0.125rem 0.875rem;
    height: 4.063rem;
  }

  header .menu_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
  }

  header .postOffer {
    text-decoration: none;
  }

  header .txtPostOffer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.313rem 0.625rem;
    color: var(--white-color);
    border: 0.125rem solid var(--white-color);
    border-radius: 0.625rem;
  }

  header .txtPostOffer:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
  }

  header .txtPostOffer:active {
    background-color: #334f9f;
    color: var(--white-color);
  }

  header .txtPostOffer:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
  }

  header .txtPostOffer:active {
    background-color: #334f9f;
    color: var(--white-color);
  }

  header .ImgBtn,
  header .ImgSearch {
    width: 3.125rem;
    height: 3.125rem;
  }

  footer div {
    flex-direction: row;
    justify-content: space-between;
  }

  footer div nav {
    flex-direction: row;
    gap: 2.188rem;
  }

  .main footer {
    display: none;
  }

  .offer-section {
    align-items: center;
  }

  .offer-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 27rem));
    gap: 1.25rem;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    padding: 0.625rem;
  }

  .offer-card {
    height: 100%;
  }

  .offer-card-img-badge-pink img,
  .offer-card-img-badge-green img {
    height: 18px;
  }

  .main {
    display: flex;
    flex-direction: row;
  }

  .main .right-img {
    display: block;
    flex: 1;
  }

  .connection {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .connection .title-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.313rem;
  }

  .connection .title-connexion hr {
    max-width: 28.125rem;
  }

  .connection .submit-container {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1.25rem 0 1.25rem 1.25rem;
  }

  .connection button:hover {
    background-color: #000;
    color: var(--white-color);
  }

  .connection-page footer {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }

  .main .right-img {
    display: block;
    flex: 1;
  }

  .connection {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .connection .title-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.313rem;
  }

  .connection .title-connexion hr {
    max-width: 28.125rem;
  }

  .connection .submit-container {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1.25rem 0 1.25rem 1.25rem;
  }

  .connection button:hover {
    background-color: #000;
    color: var(--white-color);
  }

  .connection .logPro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem; 
  }

  .offer-section {
    align-items: center;
  }

  .offer-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 27rem));
    gap: 1.25rem;
    width: 100%;
    justify-content: center;
    align-items: stretch;
  }

  .offer-card {
    height: 100%;
  }

  .offer-card-img-badge-pink img,
  .offer-card-img-badge-green img {
    height: 18px;
  }
  
  #inscription_main input {
    width: 100%;
  }
  
  #signup_button {
    align-self: center;
  }
  
  #inscription_membre, #inscription_membre > #groupe{
    gap: 1.875rem;
  }
  
  #liste_mobile {
      display: none;
  }
  
  #liste_tablette {
      display: block;
      padding: 0 2rem;
  }
  
  #inscription_membre {
      width: 80%;
      align-self: center;
  }
  
  #inscription_main {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
  }

  #form_main {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      padding: 1.5rem 0;
  }
  
  #form_main > form > div{
      padding: 0.9375rem 1.25rem;
      width: 100%;
  }
  
  h4 {
      display: none;
  }

  .align-row {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
  
  .groupe {
      display: flex;
      flex-direction: row;
      align-items: end;
      gap: 1.875rem;
  }
  
  .groupe div{
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 50%;
  }
  
  #background_image_block{
      position: sticky;
      width: 50%;
      height: 100vh;
      top: 0;
      margin: 0;
  }
  
  #background_image{
      display: block;
      position: sticky;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      padding: 0;
  }
}

@media (max-width: 61.875rem) {
  footer div nav {
    flex-direction: column;
  }

  footer div {
    justify-content: center;
  }

  #inscription_membre, #inscription_membre > div {
      display: flex;
      flex-direction: column;
  }
  
  #inscription_membre {
      align-self: flex-start;
  }
  
  #background_image{
      display: none;
  }
  
  #form_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.25rem;
  }

  .groupe > div, .solo{
    padding: 0.469rem 1.25rem;
    width: 100%;
  }

  #form_main > h4 {
    padding: 0.9375rem 1.25rem;;
  }
  
  #liste_mobile {
      display: block;
      padding-left: 1rem;
  }
  
  #liste_tablette {
      display: none;
  }

  .groupe > div {
      display: flex;
      flex-direction: column;
  }
  
  #logo {
      width: 13.75rem;
      height: 3.3125rem;
  }
  
  #form_main > h1 {
      position: relative;
      display: inline-block;
      text-align: center;
      padding-bottom: 0.25rem;
  }
  
  #form_main > hr {
    width: 80%;
  }

  #photo {
    width: 150%;
  }

  .main .right-img {
    display: none;
  }
}

@media (max-width: 62.5rem) {
  .main .right-img {
    display: none;
  }
}

@media (width >= 65rem) {
  .hideTab {
    display: block;
  }

  .hideMob {
    display: none !important;
  }

  .contentMob {
    padding: 2.188rem;
  }

  .images img {
    width:100%;
    height:auto;
    border-radius: 0.938rem;
  }

  .images{
    width: 100%;
  }

  .infoTab {
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0.938rem;
    padding: 1.25rem;
    width: 100%;
  }

  .contentTab {
    padding: 2.188rem;
  }

  .description {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    width: calc(100% + 2.5rem);
    padding: 0.938rem 1.25rem;
    isolation: isolate;
    background: #FFFFFF;
    padding-top: 0;
  }
}