<main>
    <div class="page_title">
        <h1>Creation d'une nouvelle offre</h1>
        <h2>Informations</h2>
    </div>

    <form>
    <h3> Information principales </h3>

        <div>
            <label for="offer_name"> Nom de l'offre* </label>
            <input name="offer_name" type="text" placeholder="...">
        </div>

        <div>
            <label for="categorie"> Catégorie </label>
            <input name="categorie" type="text" placeholder="Catégorie">
        </div>

        <div>
            <label for="type"> Type* </label>
            <input name="type" type="text" placeholder="Type d'offre">
        </div>

        <div>
            <label for="promotion"> Promotion* </label>
            <input name="promotion" type="text" placeholder="Promotion">
        </div>

        <div>
            <table>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>

    </form>
</main>